.title {
    text-align:center;
}
h1.title {
    background-color: darkgrey;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: gainsboro;
}
h3.title {
    font-family: 'Courier New', Courier, monospace;
}
.common {
    font-family: 'copperplate', 'cursive', sans-serif;
}
.button {
    background-color:dimgrey;
    color:antiquewhite;
    padding: 7px 10px;
    border-radius: 15px;
    font-size: 22px;  
    float: left;  
    text-decoration: none;
}
.pic {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 20px;
}
.titpic {
    display:block;
    border-radius: 20px;
}